/*Reset Css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;
}

/*Variáveis de Cores*/
:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /*Tipografia*/

  --font-family-base: "Raleway", sans-serif;

  --text-title-lg: 700 48px / normal var(--font-family-base);
  --text-title-md: 700 40px / normal var(--font-family-base);
  --text-title-sm: 700 32px / normal var(--font-family-base);
  --text-title-xs: 700 16px / normal var(--font-family-base);

  --text-subtitle: 500 32px/2 var(--font-family-base);

  --text-body-lg: 400 20px/1.4 var(--font-family-base);
  --text-body-md: 400 16px/1.4 var(--font-family-base);
  --text-body-sm: 400 14px/1.4 var(--font-family-base);
  --text-body-xs: 400 12px/1.4 var(--font-family-base);

  --text-button: 700 14px / normal var(--font-family-base);
  --text-link: 500 14px / normal var(--font-family-base);
  --text-tag: 700 10px / normal var(--font-family-base);
}

.container {
  max-width: 70rem;
  margin-inline: auto;
}
